@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Press Start 2P', cursive;
  background-color: #2a2a2a; /* A darker background for the theme */
  color: #f2f2f2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-shadow-custom {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}